# Main maintainers
*                       @ewjoachim @mgu @pmourlanne @sophie-ulti

# Documentation
/docs/                  @ewjoachim @mgu @pmourlanne @CorBott @sophie-ulti
*.rst                   @ewjoachim @mgu @pmourlanne @CorBott @sophie-ulti
*.md                    @ewjoachim @mgu @pmourlanne @CorBott @sophie-ulti
