# Main maintainers
*                       @ewjoachim @pmourlanne @elemoine @Sophsur

# Documentation
/docs/                  @ewjoachim @pmourlanne @CorBott @elemoine @Sophsur
*.rst                   @ewjoachim @pmourlanne @CorBott @elemoine @Sophsur
*.md                    @ewjoachim @pmourlanne @CorBott @elemoine @Sophsur
