# Main maintainers
*                       @ewjoachim @pmourlanne @sophie-ulti @elemoine @DainDwarf @thomasperrot

# Documentation
/docs/                  @ewjoachim @pmourlanne @CorBott @sophie-ulti @elemoine @DainDwarf @thomasperrot
*.rst                   @ewjoachim @pmourlanne @CorBott @sophie-ulti @elemoine @DainDwarf @thomasperrot
*.md                    @ewjoachim @pmourlanne @CorBott @sophie-ulti @elemoine @DainDwarf @thomasperrot
