ci:
  skip: [pyright]
  autoupdate_schedule: quarterly
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # File names
      - id: check-case-conflict
      # File formats
      - id: pretty-format-json
      - id: check-json
      - id: check-toml
      - id: check-yaml
      # Executables
      - id: check-executables-have-shebangs
        exclude: dev-env
      - id: check-shebang-scripts-are-executable
      # Git shenanigans
      - id: check-merge-conflict
      - id: check-added-large-files
      # Python issues
      - id: check-ast
      - id: debug-statements
      # Whitespace
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.389
    hooks:
      - id: pyright
        additional_dependencies:
          - aiopg==1.4.0
          - anyio==4.6.2.post1
          - asgiref==3.8.1
          - attrs==24.2.0
          - contextlib2==21.6.0
          - croniter==5.0.1
          - django-stubs==5.1.1
          - django==4.2.17
          - psycopg2-binary==2.9.10
          - psycopg[pool]==3.2.3
          - python-dateutil==2.9.0.post0
          - sphinx==7.4.7
          - sqlalchemy==2.0.36
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.1
    hooks:
      - id: ruff
        args: [--fix, --unsafe-fixes]
      - id: ruff-format
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
  - repo: https://github.com/ewjoachim/poetry-to-pre-commit
    rev: 2.2.0
    hooks:
      - id: sync-repos
        args: [--map=pyright-python=pyright, --map=ruff-pre-commit=ruff]

      - id: sync-hooks-additional-dependencies
        args: ['--bind=pyright=main,types']
