ci:
    skip: [pylint]
    autoupdate_schedule: quarterly

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # File names
      - id: check-case-conflict
      # File formats
      - id: pretty-format-json
      - id: check-json
      - id: check-toml
      - id: check-yaml
      # Executables
      - id: check-executables-have-shebangs
        exclude: dev-env
      - id: check-shebang-scripts-are-executable
      # Git shenanigans
      - id: check-merge-conflict
      - id: check-added-large-files
      # Python issues
      - id: check-ast
      - id: debug-statements
      # Whitespace
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.345
    hooks:
      - id: pyright
        additional_dependencies:
          - aiopg==1.4.0
          - anyio==4.2.0
          - asgiref==3.7.2
          - attrs==23.2.0
          - croniter==2.0.1
          - django==4.2.9
          - django-stubs==4.2.7
          - importlib-resources==6.1.1
          - psycopg==3.1.17
          - psycopg2-binary==2.9.9
          - python-dateutil==2.8.2
          - sqlalchemy==2.0.25
          - typing-extensions==4.9.0
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      - id: ruff
        args: [--fix, --unsafe-fixes]
      - id: ruff-format
  - repo: https://github.com/PyCQA/doc8
    rev: "v1.1.1"
    hooks:
      - id: doc8
  - repo: https://github.com/floatingpurr/sync_with_poetry
    rev: 1.1.0
    hooks:
      - id: sync_with_poetry
