# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files

- repo: https://github.com/psf/black
  rev: "21.7b0"
  hooks:
  - id: black

- repo: https://github.com/PyCQA/isort
  rev: "5.9.3"
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: "3.9.2"
  hooks:
  - id: flake8

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: "v0.910"
  hooks:
  - id: mypy
    files: ^sphinx_github_changelog/
    args: ["--ignore-missing-imports", "--scripts-are-modules"]

- repo: https://github.com/asottile/pyupgrade
  rev: "v2.24.0"
  hooks:
  - id: pyupgrade

- repo: https://github.com/PyCQA/doc8
  rev: "0.9.0"
  hooks:
  - id: doc8
