# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files

- repo: https://github.com/psf/black
  rev: "23.1.0"
  hooks:
  - id: black

- repo: https://github.com/PyCQA/isort
  rev: "5.12.0"
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: "6.0.0"
  hooks:
  - id: flake8

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: "v1.0.1"
  hooks:
  - id: mypy
    files: ^procrastinate/
    args: []
    additional_dependencies:
    - attrs==21.4.0
    - click==8.0.3
    - sqlalchemy[mypy]==1.4.29
    - types-croniter==1.0.4
    - types-psycopg2==2.9.5
    - types-python-dateutil==2.8.4

- repo: https://github.com/asottile/pyupgrade
  rev: "v3.3.1"
  hooks:
  - id: pyupgrade
    args: [ --py37-plus ]

- repo: https://github.com/PyCQA/doc8
  rev: "v1.1.1"
  hooks:
  - id: doc8

- repo: https://github.com/floatingpurr/sync_with_poetry
  rev: 0.4.0
  hooks:
    - id: sync_with_poetry
