# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files

- repo: https://github.com/psf/black
  rev: "21.11b1"
  hooks:
  - id: black

- repo: https://github.com/PyCQA/isort
  rev: "5.10.1"
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: "4.0.1"
  hooks:
  - id: flake8

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: "v0.910-1"
  hooks:
  - id: mypy
    files: ^procrastinate/
    args: []
    additional_dependencies:
    - "django-types"
    - "sqlalchemy[mypy]"
    - "types-attrs"
    - "types-click"
    - "types-croniter"
    - "types-psycopg2"
    - "types-python-dateutil"

- repo: https://github.com/asottile/pyupgrade
  rev: "v2.29.1"
  hooks:
  - id: pyupgrade
    args: [ --py37-plus ]

- repo: https://github.com/PyCQA/doc8
  rev: "0.10.1"
  hooks:
  - id: doc8
