ci:
  skip: [pyright]
  autoupdate_schedule: quarterly
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # File names
      - id: check-case-conflict
      # File formats
      - id: pretty-format-json
      - id: check-json
      - id: check-toml
      - id: check-yaml
      # Executables
      - id: check-executables-have-shebangs
        exclude: dev-env
      - id: check-shebang-scripts-are-executable
      # Git shenanigans
      - id: check-merge-conflict
      - id: check-added-large-files
      # Python issues
      - id: check-ast
      - id: debug-statements
      # Whitespace
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.392.post0
    hooks:
      - id: pyright
        additional_dependencies:
          - aiopg==1.4.0
          - alabaster==0.7.16 ; python_full_version < '3.10'
          - alabaster==1.0.0 ; python_full_version >= '3.10'
          - asgiref==3.8.1
          - async-timeout==4.0.3
          - attrs==25.1.0
          - babel==2.16.0
          - certifi==2024.12.14
          - charset-normalizer==3.4.1
          - colorama==0.4.6 ; sys_platform == 'win32'
          - contextlib2==21.6.0 ; python_full_version < '3.10'
          - croniter==6.0.0
          - django==4.2.18 ; python_full_version < '3.10'
          - django==5.1.5 ; python_full_version >= '3.10'
          - django-stubs==5.1.2
          - django-stubs-ext==5.1.2
          - docutils==0.21.2
          - greenlet==3.1.1 ; (python_full_version < '3.14' and platform_machine ==
            'AMD64') or (python_full_version < '3.14' and platform_machine == 'WIN32')
            or (python_full_version < '3.14' and platform_machine == 'aarch64') or
            (python_full_version < '3.14' and platform_machine == 'amd64') or (python_full_version
            < '3.14' and platform_machine == 'ppc64le') or (python_full_version <
            '3.14' and platform_machine == 'win32') or (python_full_version < '3.14'
            and platform_machine == 'x86_64')
          - idna==3.10
          - imagesize==1.4.1
          - importlib-metadata==8.6.1 ; python_full_version < '3.10'
          - jinja2==3.1.5
          - markupsafe==3.0.2
          - packaging==24.2
          - psycopg==3.2.4
          - psycopg-pool==3.2.4
          - psycopg2-binary==2.9.10
          - pygments==2.19.1
          - python-dateutil==2.9.0.post0
          - pytz==2024.2
          - requests==2.32.3
          - six==1.17.0
          - snowballstemmer==2.2.0
          - sphinx==7.4.7 ; python_full_version < '3.10'
          - sphinx==8.1.3 ; python_full_version >= '3.10'
          - sphinxcontrib-applehelp==2.0.0
          - sphinxcontrib-devhelp==2.0.0
          - sphinxcontrib-htmlhelp==2.1.0
          - sphinxcontrib-jsmath==1.0.1
          - sphinxcontrib-qthelp==2.0.0
          - sphinxcontrib-serializinghtml==2.0.0
          - sqlalchemy==2.0.37
          - sqlparse==0.5.3
          - tomli==2.2.1 ; python_full_version < '3.11'
          - types-pyyaml==6.0.12.20241230
          - typing-extensions==4.12.2
          - tzdata==2025.1 ; sys_platform == 'win32'
          - urllib3==2.3.0
          - zipp==3.21.0 ; python_full_version < '3.10'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix, --unsafe-fixes, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.22.2
    hooks:
      - id: django-upgrade
        args: [--target-version, '4.2']   # Replace with Django version

  - repo: local
    hooks:
      - id: sync-pre-commit
        name: Sync pre-commit hooks
        language: python
        entry: scripts/sync-pre-commit.py
        additional_dependencies:
          - uv
          - ruamel.yaml
