prune tests
prune docs
prune procrastinate_demo
prune .venv

include LICENSE.rst
include VERSION.txt
include procrastinate/py.typed

exclude .editorconfig
exclude .readthedocs.yml
exclude CHANGELOG.rst
exclude CODE_OF_CONDUCT.md
exclude CONTRIBUTING.rst
exclude dev-env
exclude docker-compose.yml
exclude Dockerfile
exclude pre-commit-hook
exclude requirements.txt
exclude tox.ini

recursive-include procrastinate *.sql
