# Sadly, these requirements need to be duplicated from pyproject.toml
# so that readthedocs can work. This is due to an incompatibility between
# the readthedocs build and poetry: readthedocs cannot install poetry's dev
# dependencies.
.[django,sqlachemy]
Sphinx==3.*
sphinx-github-changelog
sphinx-autodoc-typehints
sphinxcontrib-programoutput
