on:
  push:
    branches:
      - "main"

permissions:
  deployments: write
  contents: write

env:
  UV_FROZEN: "true"

jobs:
  benchmark:
    name: Performance regression check
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17
        # Set health checks to wait until postgres has started
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182 # v5
        with:
          python-version: "3.13"

      - name: Run benchmarks
        run: uv run pytest -m "benchmark" --benchmark-json output.json
        env:
          PGHOST: localhost
          PGUSER: postgres
          PGPASSWORD: postgres

      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@d48d326b4ca9ba73ca0cd0d59f108f9e02a381c7 # v1
        with:
          name: Procrastinate Benchmarks
          tool: "pytest"
          output-file-path: output.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
