name: CI

on:
  pull_request:
  push:
    branches:
      - "main"
    tags:
      - "*"

jobs:
  build:
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"

    name: "py${{ matrix.python-version }}"
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        # Set health checks to wait until postgres has started
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

      - name: Install poetry
        run: pipx install poetry

      - uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.python-version }}"
          cache: "poetry"

      - run: poetry env use "${{ matrix.python-version }}"

      - run: poetry install --extras "django sqlalchemy"

      - name: Run tests
        run: scripts/tests
        env:
          COVERAGE_FILE: ".coverage.${{ matrix.python-version }}"
          PGHOST: localhost
          PGUSER: postgres
          PGPASSWORD: postgres

      - name: Store coverage file
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: .coverage.${{ matrix.python-version }}

  static-typing:
    name: Run Pyright
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

      - name: Install poetry
        run: pipx install poetry

      - uses: actions/setup-python@v5
        with:
          python-version: '3.8'  # Important for importlib_metadata
          cache: 'poetry'

      - name: Install dependencies
        run: poetry install --all-extras --with=types

      - name: Activate virtualenv
        run: echo "$(poetry env info --path)/bin" >> $GITHUB_PATH

      - uses: jakebailey/pyright-action@v1

  report-status:
    name: success
    runs-on: ubuntu-latest
    needs:
      - build
      - static-typing
    steps:
      - name: Report success
        run: echo 'Success !'

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

      - uses: actions/download-artifact@v3
        id: download
        with:
          name: "coverage"

      - name: Display coverage
        uses: ewjoachim/python-coverage-comment-action@v3
        with:
          MERGE_COVERAGE_FILES: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Store Pull Request comment to be posted
        uses: actions/upload-artifact@v3
        with:
          name: python-coverage-comment-action
          path: python-coverage-comment-action.txt

  publish:
    name: Publish package to PyPI
    if: github.event_name == 'push' && github.ref_type == 'tag'
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    needs:
      - build
      - static-typing
    steps:
      - name: Install poetry
        run: |
          pipx install poetry
          pipx inject poetry 'poetry-dynamic-versioning[plugin]'

      - name: Publish on PyPI
        run: poetry build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
